body{
	background: linear-gradient(40deg,#6c4922 10%, #000 30%, #000 60%, #6c4922);}
h1{color: #FFFFFF;}
h2{color: #FFFFFF}
h3{color: #FFFFFF}
.ida{
	width: 30%;
	height: 45%;
	margin-top: 10px;
}
img{ width: 70%; 
	height:45%;
	box-sizing: border-box;
	}
.quitar-float{
	float: none;
	display: flex;
	justify-content: space-between;}
.espacio-arriba{
	margin-top: 50px;}
.Dancing-Script{
	font-family: 'Dancing Script', cursive;
}
 .grande{
 	font-size: 4em;
 }
a {
	color: white;
}
nav{
	width: 100%;
}
.Satisfy{
	font-family: 'Satisfy', cursive;
}
h4{color: #FFFFFF}
.verde{color: blue;}
.espacio-derecha{
	margin-right: 1em;
}
p{color: #2DF905}
.League{
	font-family: 'League Script', cursive;}
.otrotamaño{font-size: 25px}
.contenedor{
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}
.aaaa{color: #ffffff; }
